<h1>Property List</h1>
<div>
    <mat-form-field>
        <mat-label>Property status</mat-label>
        <mat-select (selectionChange)="onSearchRequestChange()"
                    [(value)]="searchRequest.propertyStatus">
            <mat-option value="">All</mat-option>
            <mat-option value="active">Active</mat-option>
            <mat-option value="occupied">Occupied</mat-option>
            <mat-option value="vacant">Vacant</mat-option>
            <mat-option value="inactive">Inactive</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Tenant status</mat-label>
        <mat-select (selectionChange)="onSearchRequestChange()"
                    [(value)]="searchRequest.tenantStatus">
            <mat-option value="">All</mat-option>
            <mat-option value="active">Active</mat-option>
            <mat-option value="inactive">Inactive</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    <mat-progress-bar *ngIf="isLoading"
                      mode="indeterminate"></mat-progress-bar>
    <app-property-table (propertyAddressClicked)="onPropertyAddressClick($event)"
                        (propertyOwnerClicked)="onPropertyOwnerClick($event)"
                        (propertyTenantClicked)="onPropertyTenantClick($event)"
                        *ngIf="listOfProperties.length>0"
                        [properties]="listOfProperties"></app-property-table>
</div>
