<table [dataSource]="properties"
       [trackBy]="trackByPropertyId"
       mat-table="mat-table">
    <ng-container matColumnDef="created">
        <th *matHeaderCellDef mat-header-cell="mat-header-cell">Created</th>
        <td *matCellDef="let property;" mat-cell="mat-cell">
            <app-format-date [date]="property.created"></app-format-date>
        </td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th *matHeaderCellDef mat-header-cell>Property</th>
        <td *matCellDef="let property" mat-cell><a (click)="propertyAddressClicked.emit(property)"
                                                   [routerLink]="[]">{{property.address}}</a>
        </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell>Property Status</th>
        <td *matCellDef="let property" mat-cell><span [class.inactive]="property.inactive"
                                                      [class.occupied]="property.occupied"
                                                      [class.vacant]="property.vacant"
                                                      class="property-status">{{property.status}}</span>
        </td>
    </ng-container>

    <ng-container matColumnDef="plan">
        <th *matHeaderCellDef mat-header-cell>Plan</th>
        <td *matCellDef="let property" mat-cell>{{property.plan}}</td>
    </ng-container>

    <ng-container matColumnDef="owner">
        <th *matHeaderCellDef mat-header-cell>Owner</th>
        <td *matCellDef="let property" mat-cell><a (click)="propertyOwnerClicked.emit(property)"
                                                   [routerLink]="[]">{{property.owner.name}}</a>
        </td>
    </ng-container>

    <ng-container matColumnDef="owner-status">
        <th *matHeaderCellDef mat-header-cell>Owner Status</th>
        <td *matCellDef="let property" mat-cell><span [class.active]="property.owner.active"
                                                      [class.inactive]="!property.owner.active"
                                                      class="owner-status">{{property.owner.status}}</span>
        </td>
    </ng-container>

    <ng-container matColumnDef="tenant">
        <th *matHeaderCellDef mat-header-cell>Tenant</th>
        <td *matCellDef="let property" mat-cell><a (click)="propertyTenantClicked.emit(property)"
                                                   *ngIf="hasTenant(property)"
                                                   [routerLink]="[]">{{property.tenant?.name}}</a>
        </td>
    </ng-container>

    <ng-container matColumnDef="tenant-status">
        <th *matHeaderCellDef mat-header-cell>Tenant Status</th>
        <td *matCellDef="let property" mat-cell><span *ngIf="hasTenant(property)"
                                                      [class.active]="property.tenant?.active"
                                                      [class.inactive]="!property.tenant?.active"
                                                      class="tenant-status">{{property.tenant?.status}}</span>
        </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
