$active-color: #08BE22;
$vacant-color: #D52B1E;
$inactive-color: #353435;

.property-status, .owner-status, .tenant-status {
  text-transform: uppercase;
}

.property-status {
  &.occupied {
    color: $active-color;
  }

  &.vacant {
    color: $vacant-color;
  }

  &.inactive {
    color: $inactive-color;
  }
}

.owner-status {
  &.active {
    color: $active-color;
  }

  &.inactive {
    color: $inactive-color;
  }
}

.tenant-status {
  &.active {
    color: $active-color;
  }

  &.inactive {
    color: $inactive-color;
  }
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 1rem;
}
